@import url(//fonts.googleapis.com/css?family=Open+Sans);

html, body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100%;
}

.stats {
    display: inline-block;
    text-align: left;
}

#question {
    font-style: italic;
    font-size: large;
}

/*#status {*/
    /*font-size: large;*/
/*}*/

#answers {
    display: inline-block;
    text-align: left;
}

#answers div {
    margin-top: 10px;
}

#answers label {
    font-size: medium;
    margin-left: 10px;
}

#answers-row {
    min-height: 140px;
}

/*#page-wrap {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*width: 980px;*/
    /*margin: 0 auto;*/
/*}*/

/*.button-back {*/
    /*float: left;*/
    /*margin-left: 30%;*/

/*}*/

/*.button-next {*/
    /*float: right;*/
    /*margin-right: 30%;*/
/*}*/

.right-answer {
    color: green;
}
.wrong-answer {
    color: red;
    text-decoration: line-through;
}

.card {
    min-height: 88px;
}